img[data-mce-style="float: left;"],
figure.image.align-left {
  margin: 3px 5px 3px 0px;
}
img[data-mce-style="float: right;"],
figure.image.align-right {
  margin: 3px 0px 3px 5px;
}

img.align-right {
  float: right !important;
  margin-left: 9px;
}

img.align-left {
  float: left !important;
  margin-right: 9px;
}

img.align-center {
  float: none !important;
  margin: 9px;
}

img.align-justify {
  float: none !important;
  margin-left: 9px;
  margin-right: 9px;
}

img.full {
  max-width: 100% !important;
  margin-bottom: 9px;
}

figure.image {
  display: inline-block;
  border: 1px solid gray;
  margin: 0 2px 0 1px;
  background: #f5f2f0;
}

figure.align-left {
  float: left;
}

figure.align-right {
  float: right;
}
/*
figure.image img {
  margin: 8px 8px 0 8px;
}
*/
figure.image.align-left {
  margin: 8px 8px 8px 0px;
}
figure.image.align-right {
  margin: 8px 0px 8px 8px;
}

figure.image figcaption {
  margin: 6px 8px 6px 8px;
  text-align: center;
}